<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('css/header.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/wireframe.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/global.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/detail_genre.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/aside_kind.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/aside_friends_list.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/liste_all_actor.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/listing_research.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/listing_user.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {{ include('default/header.html.twig') }}
    <div class="main_content">
      {% block body %}{% endblock %}
      {% block aside %}
          {{ render(controller('SerieBundle:Data:categories')) }}
      {% endblock %}
    </div>
    {{ include('default/footer.html.twig') }}
    {% block javascripts %}
      <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    {% endblock %}
  </body>
</html>
