<header id="hd_js">
  <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="logo" id="hd_logo"/>

  <section>
    <div id="hd_block_slogan_lang">
      <div class="wf_no-link" id="hd_block_slogan">Slogan</div>
      <div id="hd_block_lang">
        <figure>
          <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="drapeau"/>
          <figcaption class="wf_no-link">Lang1</figcaption>
        </figure>
        <figure>
          <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="drapeau"/>
          <figcaption class="wf_no-link">Lang2</figcaption>
        </figure>
      </div>

    </div>

    <div id="hd_block_nav_search">
      <nav>
        <a class="wf_link" href="#">Accueil</a>
        <a class="wf_link" href="#">Top 10</a>
        <a class="wf_link" href="#">Séries</a>
        <a class="wf_link" href="#">Acteurs</a>
        <a class="wf_link" href="#">Calendrier diffusion</a>
      </nav>

      <div id="hd_block_search">
        <div class="wf_no-link" id="hd_block_search_input">recherche</div>
        <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="recherche"/>
      </div>
    </div>
  </section>

  <aside>
    <div id="hd_block_user">
      <section>
        <a class="wf_link" href="#">Pseudo</a>
        <a class="wf_link" id="hd_block_user_info" href="#">Gestion compte</a>
      </section>
      <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="avatar"/>
    </div>
    <div id="hd_block_social">
      <figure>
        <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="réseaux sociaux"/>
        <figcaption class="wf_no-link">Réseau social 1</figcaption>
      </figure>
      <figure>
        <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="réseaux sociaux"/>
        <figcaption class="wf_no-link">Réseau social 1</figcaption>
      </figure>
    </div>
  </aside>

</header>