<header id="hd_js">
  <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="logo" id="hd_logo"/>

  <section>
    <div id="hd_block_slogan_lang">
      <div class="wf_no-link" id="hd_block_slogan">Slogan</div>
      <div id="hd_block_lang">
        <figure>
          <img class="wf_img" src="{{ asset('images/drapeau_francais.jpg') }}" alt="drapeau"/>
          <figcaption class="wf_no-link">Français</figcaption>
        </figure>
        <figure>
          <img class="wf_img" src="{{ asset('images/drapeau_anglais.png') }}" alt="drapeau"/>
          <figcaption class="wf_no-link">Anglais</figcaption>
        </figure>
      </div>

    </div>

    <div id="hd_block_nav_search">
      <nav>
        <a class="wf_link" href="{{ path("serie_homepage") }}">Accueil</a>
        <a class="wf_link" href="{{ path("serie_top10") }}">Top 10</a>
        <a class="wf_link" href="{{ path("serie_list") }}">Séries</a>
        <a class="wf_link" href="#">Acteurs</a>
        <a class="wf_link" href="#">Calendrier diffusion</a>
      </nav>

      <div id="hd_block_search">
        <form action="{{path("serie_search", {'lkMethod': 'series'}) }}" method="POST">
            <input type="text" placeholder="recherche" name="search">
            <input type="submit">
        </form>
      </div>
    </div>
  </section>

  <aside>
    <div id="hd_block_user">
    {% if not app.user %}
    <section>
      <a class="wf_link" href="{{ path("user_login") }}">Se connecter</a>
      <a class="wf_link" href="{{ path("user_register") }}">S'enregistrer</a>
    </section>
    {% else %}
      <section>
        <a class="wf_link" href="#">{{ app.user }}</a>
        <a class="wf_link" id="hd_block_user_info" href="{{ path("fos_user_security_logout") }}">deconnexion</a>
      </section>
      <img class="wf_img" src="{{ asset("images/avatar/%s"|format(app.user.avatar.path)) }}" alt="avatar"/>
    </div>
      {% endif %}
    <div id="hd_block_social">
      <figure>
        <img class="wf_img" src="{{ asset('images/logo_facebook.jpg') }}" alt="réseaux sociaux"/>
        <figcaption class="wf_no-link">Facebook</figcaption>
      </figure>
      <figure>
        <img class="wf_img" src="{{ asset('images/logo_twitter.jpg') }}" alt="réseaux sociaux"/>
        <figcaption class="wf_no-link">Twitter</figcaption>
      </figure>
    </div>
  </aside>
</header>