{% extends "UserBundle::layout.html.twig" %}
{% block body %}

<div id="main">
	<section>
		<h1 class="wf_no-link-align">Créer un compte</h1>
		{% block fos_user_content %}
			<section>
				{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
				{{ form_errors(form) }}

				<div class="form-group">
					{{ form_label(form.username, "Pseudo :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.username) }}
					<div class="col-sm-4">
						{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.email, "Email :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.email) }}
					<div class="col-sm-4">
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.plainPassword.first, "Mot de passe :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.plainPassword.first) }}
					<div class="col-sm-4">
						{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.plainPassword.second, "Confirmation :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.plainPassword.second) }}
					<div class="col-sm-4">
						{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{# Génération du label. #}
					{{ form_label(form.firstname, "Prénom :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{# Affichage des erreurs pour ce champ précis. #}
					{{ form_errors(form.firstname) }}
					<div class="col-sm-4">
						{# Génération de l'input. #}
						{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.lastname, "Nom :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.lastname) }}
					<div class="col-sm-4">
						{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.dayOfBirth, "Date de naissance :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.dayOfBirth) }}
					<div class="col-sm-4">
						{{ form_widget(form.dayOfBirth, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{#<div class="form-group">#}
					{#{{ form_label(form.avatar, "Avatar :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}
					{#{{ form_errors(form.avatar) }}#}
					{#<div class="col-sm-4">#}
						{#{{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}#}
					{#</div>#}
				{#</div>#}


				<div class="col-sm-4">
					{{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary','style':"margin-left:450px"},'label': 'valider' }) }}
				</div>
				{{ form_end(form) }}
			</section>
		{% endblock %}
	</section>
</div>
{% endblock %}