{% extends "SerieBundle::layout.html.twig" %}

{% block body %}

  <script>
  $(function(){
    $( "#accordion" ).accordion({
    active:false,
    collapsible: true,
    heightStyle: "content"
    });
  });
  </script>

<div class="container">
  <div class="row">
  <h1 class="wf_no-link-align">{{ serie[0].name }}</h1>
    <div class="col-md-3">
      <div id="accueil_top_serie">
        <div class="top_serie">
          <div class="top_serie_block">
            <figure>
                <img class="wf_img" src="{{ asset("images/series/%s"|format(serie[0].poster.path)) }}" alt="{{ serie[0].name }}"/>
            </figure>
            <div class="top_serie_lat">
              <div class="top_serie_lat_evaluation">
                <img class="wf_img" src="{{ asset('images/etoile.jpg') }}" alt="evaluation"/>
                <img class="wf_img" src="{{ asset('images/etoile.jpg') }}" alt="evaluation"/>
                <img class="wf_img" src="{{ asset('images/etoile.jpg') }}" alt="evaluation"/>
                <img class="wf_img" src="{{ asset('images/etoile.jpg') }}" alt="evaluation"/>
                <img class="wf_img" src="{{ asset('images/etoile.jpg') }}" alt="evaluation"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h3 class="wf_no-link-align">Liste des saisons</h3>
      <div id="accordion">
        {% for season in serie[0].seasons %}
          <h3>{{ season.name }}</h3>
          <div>
            {% for episode in season.episodes %}
              <p>
                <a href="{{ path("episode_detail", {"idEpisode":episode.id, "idSerie":serie[0].id}) }}">{{ episode.name }}</a>
              </p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

    <!-- ecrire un commentaire si on est logger -->
    {% if app.user %}
    {% if commenter == true %}
      <p>Vous avez deja déposé un commentaire sur cette serie !</p>
    {% else %}
      {{ form_start(form, {'attr': {'class': 'form-horizontal','action': path('comment_add') }}) }}
      {{ form_errors(form) }}
      <div class="form-group">
        {{ form_errors(form.message) }}
      <div class="form-group">
        {{ form_widget(form.message, {'attr': {'class': 'form-control','placeholder': 'déposer un commentaire','row':"5"}}) }}
      </div>
      </div>
      <input type="hidden" name="id" value="{{ serie[0].id }}">
      {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'} }) }}
      {{ form_end(form) }}
    {% endif %}
    {% endif %}

    <!-- liste de tout les commentaires -->
    {% for comment in comments %}
      <div class="top_comment_block">
        <figure>
          <figcaption>
            <a class="wf_link" href="#">{{ comment[0].user.username }}</a>
            <div class="wf_no-link">user.statut</div>
          </figcaption>
          <img class="wf_img" src="{{ asset('images/wf_img.jpg') }}" alt="avatar"/>
        </figure>
        <div class="top_comment_message">
          <header>
            <div class="wf_no-link top_comment_date">
              {{ comment[0].postDate|date() }}
            </div>
            <div class="top_comment_like">
              <div>
                <img class="wf_img" src="{{ asset('images/like.jpg') }}" alt="pour"/>
                <span class="wf_no-link">{{ comment.nbLike }}</span>
              </div>
              <div>
                <img class="wf_img" src="{{ asset('images/not_like.jpg') }}" alt="contre"/>
                <span class="wf_no-link">{{ comment.nbDislike }}</span>
              </div>
            </div>
          </header>
          <div class="top_comment_corps wf_no-link">
           {{ comment[0].message }}
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
</div>
{% endblock %}