{% extends "UserBundle::layout.html.twig" %}
{% block body %}

    <div id="main">
        <section>
        <h1 class="wf_no-link-align">Profil</h1>
        {% block fos_user_content %}


            <div class="fos_user_user_show">
                <p>{{ 'Pseudo'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
                <p>{{ 'Prénom'|trans({}, 'FOSUserBundle') }}: {{ user.firstname }}</p>
                <p>{{ 'Age'|trans({}, 'FOSUserBundle') }}: {{ user.getAge()}} {{'ans'}}</p>
                {#<p>{{ 'Inscrit depuis le'|trans({}, 'FOSUserBundle') }}: {{ 'date d\'inscription à prévoir' }}</p>#}
                <p>{{ dump(user) }}</p>
            </div>

            <div>
                <h2 class="wf_no-link-align">Préférences</h2>
            </div>

            <div>
                <h2 class="wf_no-link-align">Historique des commentaires</h2>
                <p>{{ dump(comments) }}</p>

                    {% for comment in comments %}
                        <div class="comment_histo">

                            <p>Le {{ comment[0].postDate|date('d-m-Y')}} à {{ comment[0].postDate|date('h:m:i') }}</p>
                            <p>Nom de la série : {{ comment[0].serie.name }}</p>
                            <p><img class="wf_img" src="{{ asset('images/like.jpg') }}" alt="pour"/>{{ comment['nbLike'] }}</p>
                            <p><img class="wf_img" src="{{ asset('images/not_like.jpg') }}" alt="contre"/>{{ comment['nbDislike'] }}</p>
                            <p>Message posté : {{ comment[0].message }}</p>
                        </div>
                    {% endfor %}


            </div>

            <div>
                <h2 class="wf_no-link-align">Séries suivies</h2>
            </div>

        {% endblock %}
        </section>
    </div>

{% endblock %}