{% extends "UserBundle::layout.html.twig" %}
{% block body %}

    <div id="main">
        <section>
        {% block fos_user_content %}

            <div class="fos_user_user_show">
                <h1 class="wf_no-link-align">Profil</h1>
                <div id="pf_img_avatar">
                    <img src="{{ asset("images/avatar/%s"|format(user.avatar.path)) }}" alt="avatar"/>
                </div>
                <div id="pf_user_info">
                    <p>{{ 'Pseudo'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
                    <p>{{ 'Prénom'|trans({}, 'FOSUserBundle') }}: {{ user.firstname }}</p>
                    <p>{{ 'Age'|trans({}, 'FOSUserBundle') }}: {{ user.getAge()}} {{'ans'}}</p>
                </div>
            </div>



            <div class="histo_comm_block">
                <h2 class="wf_no-link-align">Historique des commentaires</h2>

                    {% for comment in comments %}
                        {% if comment[0].validation == true %}
                            <div class="comment_histo">
                        {% else %}
                            <p class="waiting_mess">En attente de validation...</p>
                            <div id="comment_unvalid" class="comment_histo">
                        {% endif %}
                                <p>Le {{ comment[0].postDate|date('d-m-Y')}} à {{ comment[0].postDate|date('h:m:i') }}</p>
                                <p>Nom de la série : {{ comment[0].serie.name }}</p>
                                <p><img class="" src="{{ comment[0].serie.poster.path }}" alt=""></p>
                                <div class="logoLD">
                                    <p><img id="pf_like_logo" class="wf_img" src="{{ asset('images/like.jpg') }}" alt="pour"/>{{ comment['nbLike'] }}</p>
                                    <p><img id="pf_dislike_logo" class="wf_img" src="{{ asset('images/not_like.jpg') }}" alt="contre"/>{{ comment['nbDislike'] }}</p>
                                </div>
                                {#<p>{{ dump(comments) }}</p>#}
                                <p>Message posté : <br/>
                                    {{ comment[0].message }}
                                </p>

                            </div>
                            <div class="comment_sep"></div>
                    {% endfor %}

            </div>

            <div class="pref_block">
                <h2 class="wf_no-link-align">Préférences</h2>
            </div>

            <div class="follow_block">

                <h2 class="wf_no-link-align">Séries suivies</h2>
                <div class="detail_genre_block">
                    {% for serie in user.seriesFollowed %}
                        <div class="detail_genre_result">
                            <figure>
                                <img class="wf_img" src="{{ asset("images/series/%s"|format(serie.poster.path)) }}" alt="{{ serie.name }}">
                                <figcaption><a class="wf_link" href="{{ path('serie_detail', {'id': serie.id}) }}">{{ serie.name }}</a></figcaption>
                            </figure>
                        </div>

                    {% endfor %}
                </div>
                {#{{ user.seriesFollowed|length }}#}
            </div>


        {% endblock %}
        </section>
    </div>

{% endblock %}