{% extends "UserBundle::layout.html.twig" %}
{% block body %}

    <div id="main">
        <section>
        {% block fos_user_content %}

            <div class="fos_user_user_show">
                <h1 class="wf_no-link-align">Profil</h1>
                <div id="pf_img_avatar">
                    <img class="wf_img" src="{{ asset("images/avatar/%s"|format(user.avatar.path)) }}" alt="avatar"/>
                </div>
                <div id="pf_user_info">
                    <p>{{ 'Pseudo'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
                    <p>{{ 'Prénom'|trans({}, 'FOSUserBundle') }}: {{ user.firstname }}</p>
                    <p>{{ 'Age'|trans({}, 'FOSUserBundle') }}: {{ user.getAge()}} {{'ans'}}</p>
                </div>
            </div>



            <div class="histo_comm_block">
                <h2 class="wf_no-link-align">Historique des commentaires</h2>

                    {% for comment in comments %}
                        {% if comment[0].validation == true %}
                           <div class="top_comment_block">
                        {% else %}
                          <div class="top_comment_block comment_unvalid">
                        {% endif %}

                            <figure>
                                <figcaption>
                                    <a class="wf_link" href="{{ path('serie_detail', {'id':comment[0].serie.id}) }}">{{ comment[0].serie.name }}</a>
                                </figcaption>
                                <img class="wf_img" src="{{ asset("images/series/%s"|format(comment[0].serie.poster.path)) }}" alt="{{ comment[0].serie.name }}"/>
                            </figure>

                            <div class="top_comment_message">
                                <header>
                                    <div class="wf_no-link top_comment_date">
                                        {{ comment[0].postDate|date() }}
                                        {% if comment[0].validation == false %}
                                            <span class="comment_unvalid_message">(En attente de validation)</span>
                                        {% endif %}
                                    </div>
                                    <div class="top_comment_like">
                                        <div>
                                            <a href="{{ path('like', {'id':comment[0].id}) }}" class="js_like">
                                                <img class="wf_img" src="{{ asset('images/like.jpg') }}" alt="pour"/>
                                                <span class="wf_no-link">{{ comment.nbLike }}</span>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('like', {'id':comment[0].id}) }}" class="js_like">
                                                <img class="wf_img" src="{{ asset('images/not_like.jpg') }}" alt="contre"/>
                                                <span class="wf_no-link">{{ comment.nbDislike }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </header>
                                <div class="top_comment_corps wf_no-link">
                                    {{ comment[0].message }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

            </div>

            <div class="pref_block">
                <h2 class="wf_no-link-align">Préférences</h2>
            </div>

            <div class="follow_block">

                <h2 class="wf_no-link-align">Séries suivies</h2>
                <div class="detail_genre_block">
                    {% for serie in user.seriesFollowed %}
                        <div class="detail_genre_result">
                            <figure>
                                <img class="wf_img" src="{{ asset("images/series/%s"|format(serie.poster.path)) }}" alt="{{ serie.name }}">
                                <figcaption><a class="wf_link" href="{{ path('serie_detail', {'id': serie.id}) }}">{{ serie.name }}</a></figcaption>
                            </figure>
                        </div>

                    {% endfor %}
                </div>
                {#{{ user.seriesFollowed|length }}#}
            </div>


        {% endblock %}
        </section>
    </div>

{% endblock %}